@model IEnumerable<NewspaperDoAnV2.Models.Newspaper>

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Areas/UserArea/Views/Shared/_UserMasterLayout.cshtml";
}

<style>
    .boxes {
        box-shadow: 0px 2px 5px 0px black;
        padding: 40px;
    }
</style>
<h3 class="text-center"> HomePage </h3>
@foreach (var items in Model)
{
    
        <div class="mt-5 mb-5 boxes">
            <div class="row row-cols-2">
                <div class="col col-6">
                    <img src="@Html.DisplayFor(model => items.Newspaper_anh)" class="w-100" />
                </div>

                <div class="col col-6 position-relative">

                    <h2>
                        @Html.DisplayFor(model => items.Newspaper_tieude)
                    </h2>

                    <p>
                        @Html.DisplayFor(model => items.Newspaper_tieudephu)
                    </p>


                    <p style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3">
                        @Html.DisplayFor(model => items.Newspaper_noidung)
                    </p>

                    <div class="position-absolute bottom-0">
                        @Html.ActionLink("Đọc Thêm", "BaiBao","HomePage" , new { id = items.NewspaperId , area = "UserArea" }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    
}
